{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <div class="row">
                    {% include "::modulesUsed/navigation.html.twig" %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig" %}
                    {% else %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig" %}
                    {% endif %}
                    {% render(controller('EcommerceBundle:Panier:menu')) %}
                </div>
            </div>    

            <div class="col-sm-9">
                <div class="row">
                    {% for produit in produits %}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{ produit.image.path }}" class="img-responsive">
                                <div class="caption">
                                    <h4>{{ produit.nom }}</h4>
                                    <p>{{ produit.prix|tva(produit.tva.multiplicate) }} FCFA</p>
                                    <a class="btn btn-primary btn-xs" href="{{ path('presentation', {'id' : produit.id}) }}">Plus d'infos</a>
                                    {% if panier[produit.id] is not defined %}
                                        <a class="btn btn-success btn-xs" href="{{ path('ajouter', {'id' : produit.id}) }}">Ajouter au panier</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <ul class="pagination">
                    <li>
                        <a href="#">«&nbsp;Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">Next&nbsp;»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}