{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-3">
                <div class="row">
                    {% include "::modulesUsed/navigation.html.twig" %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig" %}
                    {% else %}
                        {% include "UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig" %}
                    {% endif %}
                    {% render(controller('EcommerceBundle:Panier:menu')) %}
                </div>
            </div>    

            <div class="col-sm-9">
                {% if produits|length != 0 %}
                    <div class="row">
                        {% for produit in produits %}
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <img src="{{ asset(produit.image.AssetPath) }}" class="img-responsive"  alt="{{ produit.image.name }}">
                                    <div class="caption">
                                        <h4>{{ produit.nom }}</h4>
                                        <p>{{ produit.prix|tva(produit.tva.multiplicate) }} FCFA</p>
                                        <a class="btn btn-primary btn-xs" href="{{ path('presentation', {'id' : produit.id}) }}">Plus d'infos</a>
                                        {% if panier[produit.id] is not defined %}
                                            <a class="btn btn-success btn-xs" href="{{ path('ajouter', {'id' : produit.id}) }}">Ajouter au panier</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(produits) }}
                    </div>
                {% else %}
                    <a class="btn btn-warning">Aucun produit portant ce nom a été trouvé</a>
                {% endif %}    
            </div>
        </div>
    </div>

{% endblock %}