{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Modification de la page</h1>

    <div>
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <br />
            <input class="btn btn-success pull-right"  type="submit" value="Modifier" />
            <a href="{{ path('adminPages_index') }}" class="btn btn-primary pull-left">Retourner sur la liste</a>
        {{ form_end(edit_form) }}
    </div>
    
    <div>
        <br />
        <br />
        {{ form_start(delete_form) }}
            <input class="btn btn-danger pull-right" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
